<p [ngStyle]="{
  color: color,
  fontFamily: fontFamily,
  'fontSize.px': fontSize
}">
  word works!
</p>

<div class="row">
  <div class="col-md-3">
    <input type="color" class="form-control" [(ngModel)]="color">
  </div>
  <div class="col-md-3">
    <input type="number" class="form-control" [(ngModel)]="fontSize">
  </div>
  <div class="col-md-3">
    <select class="form-control" [(ngModel)]="fontFamily">
      <option value="verdana">Verdana</option>
      <option value="Garamond">Garamond</option>
      <option value="Times new Roman">Times</option>
      <option value="arial">Arial</option>
    </select>
  </div>
</div>
